.elementor-9025 .elementor-element.elementor-element-a4beb9f>.elementor-container {
    min-height: 400px;
}

.elementor-9025 .elementor-element.elementor-element-a4beb9f.ob-is-breaking-bad>.elementor-container>.elementor-row,
.elementor-9025 .elementor-element.elementor-element-a4beb9f.ob-is-breaking-bad>.elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-9025 .elementor-element.elementor-element-a4beb9f.ob-is-breaking-bad.ob-bb-inner>.elementor-container>.elementor-row,
.elementor-9025 .elementor-element.elementor-element-a4beb9f.ob-is-breaking-bad.ob-bb-inner>.elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-9025 .elementor-element.elementor-element-a4beb9f.ob-is-breaking-bad.ob-is-glider>.elementor-container.swiper-container-vertical>.elementor-row,
.elementor-9025 .elementor-element.elementor-element-a4beb9f.ob-is-breaking-bad.ob-is-glider>.elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-9025 .elementor-element.elementor-element-a4beb9f.ob-is-breaking-bad.ob-is-glider.ob-bb-inner>.elementor-container.swiper-container-vertical>.elementor-row,
.elementor-9025 .elementor-element.elementor-element-a4beb9f.ob-is-breaking-bad.ob-is-glider.ob-bb-inner>.elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-9025 .elementor-element.elementor-element-a4beb9f.ob-is-breaking-bad.ob-bb-inner {
    width: 100%;
    flex: unset;
    align-self: inherit;
}

.elementor-9025 .elementor-element.elementor-element-473c047.elementor-column {
    align-self: inherit;
    cursor: default;
}

.elementor-9025 .elementor-element.elementor-element-7d1f9d5 .qodef-qi-button {
    font-family: "Kanit", Sans-serif;
    font-size: 60px;
    font-weight: 800;
    color: #FFFFFF8F;
    border-width: 0px 0px 0px 0px;
}

.elementor-9025 .elementor-element.elementor-element-7d1f9d5 .qodef-qi-button.qodef-layout--filled {
    background-color: #AE272700;
}

.elementor-9025 .elementor-element.elementor-element-7d1f9d5 .qodef-qi-button:hover {
    color: #FFFFFF;
}

.elementor-9025 .elementor-element.elementor-element-7d1f9d5>.elementor-widget-container {
    margin: -50px -50px -50px -50px;
}

.elementor-9025 .elementor-element.elementor-element-7d1f9d5 {
    z-index: 10;
}

.elementor-9025 .elementor-element.elementor-element-4eaae9e .qodef-qi-button {
    font-family: "Kanit", Sans-serif;
    font-size: 60px;
    font-weight: 800;
    color: #FFFFFF8F;
    border-width: 0px 0px 0px 0px;
}

.elementor-9025 .elementor-element.elementor-element-4eaae9e .qodef-qi-button.qodef-layout--filled {
    background-color: #AE272700;
}

.elementor-9025 .elementor-element.elementor-element-4eaae9e .qodef-qi-button:hover {
    color: #FFFFFF;
}

.elementor-9025 .elementor-element.elementor-element-4eaae9e>.elementor-widget-container {
    margin: -50px -50px -50px -50px;
}

.elementor-9025 .elementor-element.elementor-element-4eaae9e {
    z-index: 10;
}

.elementor-9025 .elementor-element.elementor-element-5fa343e .qodef-qi-button {
    font-family: "Kanit", Sans-serif;
    font-size: 60px;
    font-weight: 800;
    color: #FFFFFF8F;
    border-width: 0px 0px 0px 0px;
}

.elementor-9025 .elementor-element.elementor-element-5fa343e .qodef-qi-button.qodef-layout--filled {
    background-color: #AE272700;
}

.elementor-9025 .elementor-element.elementor-element-5fa343e .qodef-qi-button:hover {
    color: #FFFFFF;
}

.elementor-9025 .elementor-element.elementor-element-5fa343e>.elementor-widget-container {
    margin: -50px -50px -50px -50px;
}

.elementor-9025 .elementor-element.elementor-element-5fa343e {
    z-index: 10;
}

.elementor-9025 .elementor-element.elementor-element-2133642 .qodef-qi-button {
    font-family: "Kanit", Sans-serif;
    font-size: 60px;
    font-weight: 800;
    color: #FFFFFF8F;
    border-width: 0px 0px 0px 0px;
}

.elementor-9025 .elementor-element.elementor-element-2133642 .qodef-qi-button.qodef-layout--filled {
    background-color: #AE272700;
}

.elementor-9025 .elementor-element.elementor-element-2133642 .qodef-qi-button:hover {
    color: #FFFFFF;
}

.elementor-9025 .elementor-element.elementor-element-2133642>.elementor-widget-container {
    margin: -50px -50px -50px -50px;
}

.elementor-9025 .elementor-element.elementor-element-2133642 {
    z-index: 10;
}

.elementor-9025 .elementor-element.elementor-element-0de6cad .qodef-qi-button {
    font-family: "Kanit", Sans-serif;
    font-size: 60px;
    font-weight: 800;
    color: #FFFFFF8F;
    border-width: 0px 0px 0px 0px;
}

.elementor-9025 .elementor-element.elementor-element-0de6cad .qodef-qi-button.qodef-layout--filled {
    background-color: #AE272700;
}

.elementor-9025 .elementor-element.elementor-element-0de6cad .qodef-qi-button:hover {
    color: #FFFFFF;
}

.elementor-9025 .elementor-element.elementor-element-0de6cad>.elementor-widget-container {
    margin: -50px -50px -50px -50px;
}

.elementor-9025 .elementor-element.elementor-element-0de6cad {
    z-index: 10;
}

.elementor-9025 .elementor-element.elementor-element-7aab3b2 .qodef-qi-button {
    font-family: "Kanit", Sans-serif;
    font-size: 60px;
    font-weight: 800;
    color: #FFFFFF8F;
    border-width: 0px 0px 0px 0px;
}

.elementor-9025 .elementor-element.elementor-element-7aab3b2 .qodef-qi-button.qodef-layout--filled {
    background-color: #AE272700;
}

.elementor-9025 .elementor-element.elementor-element-7aab3b2 .qodef-qi-button:hover {
    color: #FFFFFF;
}

.elementor-9025 .elementor-element.elementor-element-7aab3b2>.elementor-widget-container {
    margin: -50px -50px -50px -50px;
}

.elementor-9025 .elementor-element.elementor-element-7aab3b2 {
    z-index: 10;
}

.elementor-9025 .elementor-element.elementor-element-86000c6 {
    text-align: center;
    width: 100%;
    max-width: 100%;
    top: 44px;
}

.elementor-9025 .elementor-element.elementor-element-86000c6 img {
    opacity: 0.43;
}

body:not(.rtl) .elementor-9025 .elementor-element.elementor-element-86000c6 {
    left: 0px;
}

body.rtl .elementor-9025 .elementor-element.elementor-element-86000c6 {
    right: 0px;
}

.elementor-9025 .elementor-element.elementor-element-03543f1.ob-is-breaking-bad>.elementor-container>.elementor-row,
.elementor-9025 .elementor-element.elementor-element-03543f1.ob-is-breaking-bad>.elementor-container {
    justify-content: flex-end !important;
    flex-direction: row;
}

.elementor-9025 .elementor-element.elementor-element-03543f1.ob-is-breaking-bad.ob-bb-inner>.elementor-container>.elementor-row,
.elementor-9025 .elementor-element.elementor-element-03543f1.ob-is-breaking-bad.ob-bb-inner>.elementor-container {
    justify-content: flex-end !important;
    flex-direction: row;
}

.elementor-9025 .elementor-element.elementor-element-03543f1.ob-is-breaking-bad.ob-is-glider>.elementor-container.swiper-container-vertical>.elementor-row,
.elementor-9025 .elementor-element.elementor-element-03543f1.ob-is-breaking-bad.ob-is-glider>.elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-9025 .elementor-element.elementor-element-03543f1.ob-is-breaking-bad.ob-is-glider.ob-bb-inner>.elementor-container.swiper-container-vertical>.elementor-row,
.elementor-9025 .elementor-element.elementor-element-03543f1.ob-is-breaking-bad.ob-is-glider.ob-bb-inner>.elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-9025 .elementor-element.elementor-element-03543f1.ob-is-breaking-bad.ob-bb-inner {
    width: 100%;
    flex: unset;
    align-self: inherit;
}

.elementor-9025 .elementor-element.elementor-element-a5a789a.elementor-column {
    align-self: inherit;
    cursor: default;
}

.elementor-9025 .elementor-element.elementor-element-cfb4c30 {
    text-align: center;
    bottom: -150px;
}

.elementor-9025 .elementor-element.elementor-element-cfb4c30>.elementor-widget-container {
    --e-transform-scale: 0.2;
}

body:not(.rtl) .elementor-9025 .elementor-element.elementor-element-cfb4c30 {
    right: 0px;
}

body.rtl .elementor-9025 .elementor-element.elementor-element-cfb4c30 {
    left: 0px;
}

#elementor-popup-modal-9025 .dialog-message {
    width: 50vw;
    height: 100vh;
    align-items: center;
}

#elementor-popup-modal-9025 {
    justify-content: flex-end;
    align-items: flex-end;
    pointer-events: all;
}

#elementor-popup-modal-9025 .dialog-close-button {
    display: flex;
    font-size: 30px;
}

#elementor-popup-modal-9025 .dialog-widget-content {
    animation-duration: 1.5s;
    background-color: transparent;
    background-image: linear-gradient(180deg, #e684ae 0%, #090f38 80%);
    box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}

@media(max-width:1024px) {
    .elementor-9025 .elementor-element.elementor-element-cfb4c30 {
        bottom: -70px;
    }

    #elementor-popup-modal-9025 .dialog-message {
        width: 100vw;
    }
}

@media(max-width:414px) {
    .elementor-9025 .elementor-element.elementor-element-cfb4c30 {
        bottom: -100px;
    }

    #elementor-popup-modal-9025 .dialog-message {
        width: 100vw;
    }
}