.elementor-9921 .elementor-element.elementor-element-75d2af85>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-9921 .elementor-element.elementor-element-75d2af85 {
    overflow: hidden;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-9921 .elementor-element.elementor-element-75d2af85>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9921 .elementor-element.elementor-element-19e02b2>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-9921 .elementor-element.elementor-element-19e02b2.elementor-column {
    align-self: inherit;
    cursor: default;
}

.elementor-9921 .elementor-element.elementor-element-74a4e40 .elementor-button {
    font-family: "Kanit", Sans-serif;
    font-weight: 500;
    background-color: #FFFFFF70;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 81px 81px 81px 81px;
}

.elementor-9921 .elementor-element.elementor-element-74a4e40 .elementor-button:hover,
.elementor-9921 .elementor-element.elementor-element-74a4e40 .elementor-button:focus {
    background-color: transparent;
    background-image: linear-gradient(90deg, #E816CD 0%, #AD29F2 100%);
}

#elementor-popup-modal-9921 .dialog-message {
    width: 100vw;
    height: 100vh;
    align-items: center;
}

#elementor-popup-modal-9921 {
    justify-content: center;
    align-items: center;
}

#elementor-popup-modal-9921 .dialog-widget-content {
    animation-duration: 1.5s;
    background-color: #010101;
    box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}

@media(max-width:1024px) {
    .elementor-bc-flex-widget .elementor-9921 .elementor-element.elementor-element-19e02b2.elementor-column .elementor-widget-wrap {
        align-items: flex-end;
    }

    .elementor-9921 .elementor-element.elementor-element-19e02b2.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: flex-end;
        align-items: flex-end;
    }

    .elementor-9921 .elementor-element.elementor-element-19e02b2.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start;
    }

    .elementor-9921 .elementor-element.elementor-element-19e02b2.elementor-column,
    .elementor-9921 .elementor-element.elementor-element-19e02b2.elementor-column>.elementor-widget-wrap {
        height: 100vh;
    }

    .elementor-9921 .elementor-element.elementor-element-19e02b2>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    #elementor-popup-modal-9921 .dialog-message {
        width: 100vw;
    }

    #elementor-popup-modal-9921 {
        align-items: center;
    }
}

@media(max-width:414px) {
    .elementor-9921 .elementor-element.elementor-element-75d2af85 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-9921 .elementor-element.elementor-element-19e02b2 {
        width: 100%;
    }

    .elementor-bc-flex-widget .elementor-9921 .elementor-element.elementor-element-19e02b2.elementor-column .elementor-widget-wrap {
        align-items: flex-end;
    }

    .elementor-9921 .elementor-element.elementor-element-19e02b2.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: flex-end;
        align-items: flex-end;
    }

    .elementor-9921 .elementor-element.elementor-element-19e02b2.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-9921 .elementor-element.elementor-element-19e02b2>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px;
    }

    .elementor-9921 .elementor-element.elementor-element-19e02b2.elementor-column,
    .elementor-9921 .elementor-element.elementor-element-19e02b2.elementor-column>.elementor-widget-wrap {
        height: 100vh;
    }

    .elementor-9921 .elementor-element.elementor-element-19e02b2>.elementor-element-populated {
        margin: 0% 0% 0% 0%;
        --e-column-margin-right: 0%;
        --e-column-margin-left: 0%;
        padding: 0px 0px 100px 0px;
    }

    #elementor-popup-modal-9921 .dialog-message {
        width: 100vw;
    }
}

@media(min-width:415px) {
    .elementor-9921 .elementor-element.elementor-element-19e02b2 {
        width: 100%;
    }
}